# Ignore mysql volume mounted
Docker/postgres
Docker/mysql

# Ignore all project files
app/node.js/*
app/java/*
app/php/*
app/python/*

# This line should be the last line in .gitignore file
# This line preserves the folder structure (allows an empty folder to be uploaded)
!*README.md