# Ignore mysql volume mounted
Docker/postgres
Docker/mysql

# Ignore all project files
app/node.js/*
app/java/*
app/php/*
app/laravel/*
app/python/*

# Ignored to avoid deleting SSL certificates on git stash -u
config/letsencrypt

terraform/.terraform
# .tfstate files
*.tfstate
*.tfstate.*

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# This line should be the last line in .gitignore file
# This line preserves the folder structure (allows an empty folder to be uploaded)
!*README.md