# Ignore mysql volume mounted
Docker/postgres
Docker/mysql

# Ignore all project files
app/node.js/*
app/java/*
app/php/*

# This line should be below the .gitignore file
# This line preserves the folder structure (allows an empty folder to be uploaded)
!*.md